@use "sass:math";
/******************************
* Компонент rg-container-for-cards
* Миксин для генерации классов колонок гридов
* Миксин для генерации классов gap, row-gap и column-gap
* Форма перед футером .rg-feedback-form
* Баннер  rg-banner
* Блок rg-block-1

******************************/
@import "_variables";
@import "_media_mixin";
@import "fonts_mixin";

// Компонент rg-container-for-cards
@mixin rg-container-for-cards {
    .ke-container-for-cards {
        > div,
        article {
            width: 100%;
        }

        &__2-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 49%;
            }

            &.mobile-full {
                > div:not(.full),
                > article:not(.full) {
                    @include max_definite_width(400) {
                        max-width: 100% !important;
                    }
                }
            }
        }

        &__3-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 32%;
                @include max_768 {
                    max-width: 70%;
                }
                @include max_definite_width(450) {
                    max-width: 100% !important;
                }

                &.max-49 {
                    max-width: 49%;
                    @include max_768 {
                        max-width: 70%;
                    }
                }
            }

            &.full_992 {
                > div:not(.full),
                > article:not(.full) {
                    &.item-992 {
                        @include min_max_definite_width(768, 992) {
                            max-width: 100% !important;
                            width: 100% !important;
                        }
                    }

                    &:not(.item-992) {
                        @include min_max_definite_width(768, 992) {
                            max-width: 48% !important;
                        }
                    }
                }
            }
        }

        &__4-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 23%;
                @include max_1400 {
                    max-width: 24%;
                }
                @include max_992 {
                    max-width: 48%;
                }
                @include max_definite_width(450) {
                    max-width: 100% !important;
                }
            }
        }

        &__max-1400 {
            > div:not(.full),
            > article:not(.full) {
                @include max_1400 {
                    max-width: 48.5%;
                }
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-1200 {
            > div:not(.full),
            > article:not(.full) {
                @include max_1200 {
                    max-width: 48.5%;
                }
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-992 {
            > div:not(.full),
            > article:not(.full) {
                @include max_992 {
                    max-width: 100%;
                }
            }
        }

        &__max-768 {
            > div:not(.full),
            > article:not(.full) {
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-576 {
            > div:not(.full),
            > article:not(.full) {
                @include max_576 {
                    max-width: 100%;
                }
            }
        }
    }
}

@mixin rg-bg-box {
    .rg-bg-box {
        border-radius: 20px;
        background: $rg-bg-light-grey;
    }
}

$breakpoints: (
    xs: null,
    sm: 576,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1400,
);

// Карта для преобразования сокращений в CSS-свойства
$spacing-properties: (
    mb: margin-bottom,
    mt: margin-top,
    ml: margin-left,
    mr: margin-right,
    mx: margin-left margin-right,
    my: margin-top margin-bottom,
    pb: padding-bottom,
    pt: padding-top,
    pl: padding-left,
    pr: padding-right,
    px: padding-left padding-right,
    py: padding-top padding-bottom,
);

// Миксин для генерации классов колонок гридов
@mixin rg-grid-column($columns-list: ()) {
    // Базовые классы
    @each $i in $columns-list {
        .rg-grid-column-#{$i} {
            grid-template-columns: repeat($i, 1fr);
        }
    }

    // Адаптивные классы
    @each $name, $size in $breakpoints {
        @if $size {
            @include min_definite_width($size) {
                @each $i in $columns-list {
                    .rg-grid-column-#{$name}-#{$i} {
                        grid-template-columns: repeat($i, 1fr);
                    }
                }
            }
        }
    }
}

// Миксин для генерации классов gap, row-gap и column-gap
@mixin generate-gap-classes($gap-values: ()) {
    // Базовые классы (без медиа-запросов)
    @each $value in $gap-values {
        // Класс для общего gap
        .gap-#{$value} {
            gap: #{$value}px !important;
        }

        // Класс для row-gap
        .row-gap-#{$value} {
            row-gap: #{$value}px !important;
        }

        // Класс для column-gap
        .column-gap-#{$value} {
            column-gap: #{$value}px !important;
        }
    }

    // Адаптивные классы
    @each $name, $size in $breakpoints {
        @if $size {
            @include min_definite_width($size) {
                @each $value in $gap-values {
                    // Класс для общего gap
                    .gap-#{$name}-#{$value} {
                        gap: #{$value}px !important;
                    }

                    // Класс для row-gap
                    .row-gap-#{$name}-#{$value} {
                        row-gap: #{$value}px !important;
                    }

                    // Класс для column-gap
                    .column-gap-#{$name}-#{$value} {
                        column-gap: #{$value}px !important;
                    }
                }
            }
        }
    }
}

// Миксин для генерации адаптивных классов margin и padding
@mixin generate-spacing-classes($property, $values: ()) {
    // Преобразуем сокращение в CSS-свойство
    $css-property: map-get($spacing-properties, $property);

    // Базовые классы (без медиа-запросов)
    @each $value in $values {
        .#{$property}-#{$value} {
            @if type-of($css-property) == list {
                @each $prop in $css-property {
                    #{$prop}: #{$value}px !important;
                }
            } @else {
                #{$css-property}: #{$value}px !important;
            }
        }
    }

    // Адаптивные классы
    @each $name, $size in $breakpoints {
        @if $size {
            @include min_definite_width($size) {
                @each $value in $values {
                    .#{$property}-#{$name}-#{$value} {
                        @if type-of($css-property) == list {
                            @each $prop in $css-property {
                                #{$prop}: #{$value}px !important;
                            }
                        } @else {
                            #{$css-property}: #{$value}px !important;
                        }
                    }
                }
            }
        }
    }
}

// Форма перед футером .rg-feedback-form
@mixin rg-feedback-form {
    .rg-feedback-form {
        .content {
            padding: 50px;
            @include max_1200 {
                padding: 40px;
            }
            @include max_992 {
                padding: 30px;
            }
            @include max_576 {
                padding: 30px 20px;
            }

            .wrapper {
                max-width: 542px;
                @include max_1400 {
                    max-width: 503px;
                }
                @include max_1200 {
                    max-width: 431px;
                }
                @include max_992 {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
                @include max_576 {
                    margin-bottom: 43px;
                }
            }

            .form-wrapper {
                width: 100%;
                max-width: 567px;
                background: #fff;
                border-radius: 20px;
                padding: 30px;
                @include max_1400 {
                    max-width: 479px;
                }
                @include max_1200 {
                    max-width: 420px;
                }
                @include max_992 {
                    max-width: 100%;
                }
            }
        }
    }
}

// Баннер  rg-banner
@mixin rg-banner {
    .rg-banner {
        .content {
            .wrapper {
                max-width: 660px;
                @include max_1400 {
                    max-width: 545px;
                }
                @include max_1200 {
                    max-width: 459px;
                }
                @include max_992 {
                    max-width: 370px;
                }
                @include max_768 {
                    display: contents;
                }

                .desc {
                    margin-bottom: 40px;
                    @include max_992 {
                        margin-bottom: 30px;
                    }
                    @include max_768 {
                        margin-bottom: 40px;
                    }
                    @include max_576 {
                        margin-bottom: 30px;
                    }
                }

                .btn {
                    @include max_definite_width(400) {
                        width: 100%;
                    }
                }
            }

            .image {
                @include max_1400 {
                    max-width: 472px;
                }
                @include max_1200 {
                    max-width: 400px;
                }
                @include max_992 {
                    max-width: 324px;
                }
                @include max_768 {
                    max-width: 300px;
                    width: 100% !important;
                }
            }
        }
    }
}

// Блок rg-block-1
@mixin rg-block-1 {
    .rg-block-1 {
        .item {
            max-width: 600px;
            margin-bottom: 60px;
            @include max_1400 {
                max-width: 530px;
            }
            @include max_1200 {
                max-width: 465px;
                margin-bottom: 50px;
            }
            @include max_992 {
                max-width: 340px;
            }
            @include max_768 {
                max-width: 100%;
                margin-bottom: 40px;
            }
        }
    }
}

// Блок rg-products-for-business
@mixin rg-products-for-business {
    .rg-products-for-business {
        .items {
            .item {
                &:hover {
                    .btn_link {
                        .arrow {
                            width: 50px;
                        }
                    }
                }

                max-width: 600px;
                margin-bottom: 60px;
                @include max_1400 {
                    max-width: 530px;
                }
                @include max_1200 {
                    max-width: 465px;
                    margin-bottom: 50px;
                }
                @include max_992 {
                    max-width: 340px;
                }
                @include max_768 {
                    max-width: 100%;
                    margin-bottom: 40px;
                }
            }
        }
    }
}
