@use "sass:math";
/******************************
*
******************************/
@import "_variables";
@import "_media_mixin";
@import "fonts_mixin";

// Компонент rg-container-for-cards
@mixin rg-container-for-cards {
    .ke-container-for-cards {
        > div,
        article {
            width: 100%;
        }

        &__2-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 49%;
            }

            &.mobile-full {
                > div:not(.full),
                > article:not(.full) {
                    @include max_definite_width(400) {
                        max-width: 100% !important;
                    }
                }
            }
        }

        &__3-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 32%;
                @include max_768 {
                    max-width: 70%;
                }
                @include max_definite_width(450) {
                    max-width: 100% !important;
                }

                &.max-49 {
                    max-width: 49%;
                    @include max_768 {
                        max-width: 70%;
                    }
                }
            }

            &.full_992 {
                > div:not(.full),
                > article:not(.full) {
                    &.item-992 {
                        @include min_max_definite_width(768, 992) {
                            max-width: 100% !important;
                            width: 100% !important;
                        }
                    }

                    &:not(.item-992) {
                        @include min_max_definite_width(768, 992) {
                            max-width: 48% !important;
                        }
                    }
                }
            }
        }

        &__4-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 23%;
                @include max_1400 {
                    max-width: 24%;
                }
                @include max_992 {
                    max-width: 48%;
                }
                @include max_definite_width(450) {
                    max-width: 100% !important;
                }
            }
        }

        &__max-1400 {
            > div:not(.full),
            > article:not(.full) {
                @include max_1400 {
                    max-width: 48.5%;
                }
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-1200 {
            > div:not(.full),
            > article:not(.full) {
                @include max_1200 {
                    max-width: 48.5%;
                }
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-992 {
            > div:not(.full),
            > article:not(.full) {
                @include max_992 {
                    max-width: 100%;
                }
            }
        }

        &__max-768 {
            > div:not(.full),
            > article:not(.full) {
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-576 {
            > div:not(.full),
            > article:not(.full) {
                @include max_576 {
                    max-width: 100%;
                }
            }
        }
    }
}

@mixin rg-bg-box {
    .rg-bg-box {
        border-radius: 20px;
        background: $rg-bg-light-grey;
    }
}

// Форма перед футером .rg-feedback-form
@mixin rg-feedback-form {
    .rg-feedback-form {
        .content {
            padding: 50px;
            @include max_1200 {
                padding: 40px;
            }
            @include max_992 {
                padding: 30px;
            }
            @include max_576 {
                padding: 30px 20px;
            }

            .wrapper {
                max-width: 542px;
                @include max_1400 {
                    max-width: 503px;
                }
                @include max_1200 {
                    max-width: 431px;
                }
                @include max_992 {
                    max-width: 100%;
                    margin-bottom: 20px;
                }
                @include max_576 {
                    margin-bottom: 43px;
                }
            }

            .form-wrapper {
                width: 100%;
                max-width: 567px;
                background: #fff;
                border-radius: 20px;
                padding: 30px;
                @include max_1400 {
                    max-width: 479px;
                }
                @include max_1200 {
                    max-width: 420px;
                }
                @include max_992 {
                    max-width: 100%;
                }
            }
        }
    }
}
