@use "sass:math";
/******************************
*
******************************/
@import "_variables";
@import "_media_mixin";
@import "fonts_mixin";

// Компонент ke-container-for-cards
@mixin ko-container-for-cards {
    .ke-container-for-cards {
        > div,
        article {
            width: 100%;
        }

        &__2-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 49%;
            }

            &.mobile-full {
                > div:not(.full),
                > article:not(.full) {
                    @include max_definite_width(400) {
                        max-width: 100% !important;
                    }
                }
            }
        }

        &__3-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 32%;
                @include max_768 {
                    max-width: 70%;
                }
                @include max_definite_width(450) {
                    max-width: 100% !important;
                }

                &.max-49 {
                    max-width: 49%;
                    @include max_768 {
                        max-width: 70%;
                    }
                }
            }

            &.full_992 {
                > div:not(.full),
                > article:not(.full) {
                    &.item-992 {
                        @include min_max_definite_width(768, 992) {
                            max-width: 100% !important;
                            width: 100% !important;
                        }
                    }

                    &:not(.item-992) {
                        @include min_max_definite_width(768, 992) {
                            max-width: 48% !important;
                        }
                    }
                }
            }
        }

        &__4-columns {
            > div:not(.full),
            > article:not(.full) {
                max-width: 23%;
                @include max_1400 {
                    max-width: 24%;
                }
                @include max_992 {
                    max-width: 48%;
                }
                @include max_definite_width(450) {
                    max-width: 100% !important;
                }
            }
        }

        &__max-1400 {
            > div:not(.full),
            > article:not(.full) {
                @include max_1400 {
                    max-width: 48.5%;
                }
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-1200 {
            > div:not(.full),
            > article:not(.full) {
                @include max_1200 {
                    max-width: 48.5%;
                }
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-992 {
            > div:not(.full),
            > article:not(.full) {
                @include max_992 {
                    max-width: 100%;
                }
            }
        }

        &__max-768 {
            > div:not(.full),
            > article:not(.full) {
                @include max_768 {
                    max-width: 100%;
                }
            }
        }

        &__max-576 {
            > div:not(.full),
            > article:not(.full) {
                @include max_576 {
                    max-width: 100%;
                }
            }
        }
    }
}
