//Цвета элементов
$rg-bg-site: #fff;
$rg-color-site: #00bea2;
$rg-color-site-blue: #4c88e7;
$rg-color-site-yellow: #ffa400;
$rg-color-site-brown: #fff4df;
$rg-color-site-gray: #5a5a5a;
$rg-color-site-black: #2a2a2a;
$rg-gradient-site: linear-gradient(270deg, #00bea2, #65b3fb);
//Заливка
$rg-bg-section-light: #f9f9f9;
$rg-bg-section-dark: red;
//Текст
$rg-text-color-light: white;
$rg-text-color-turquoise: #00bea2;
$rg-text-color: #2a2a2a;
$rg-color-red: #f72b1c;
$rg-cursor-hover: pointer;
