//Цвета элементов
$rg-bg-site: #fff;
$rg-color-site: #87b8e8;
$rg-color-site-light: #d3f2ff;
$rg-color-site-black: #1e263f;
$rg-color-green: #228e76;
$rg-color-green-light: #0ad85e;
$rg-color-yellow: #fded02;
$rg-color-grey: #737785;

//Заливка
$rg-bg-light-grey: #f7f7f7;

//Текст
$rg-text-color: #1e263f;
$rg-color-red: #f72b1c;
$rg-cursor-hover: pointer;
