//Цвета элементов
$rg-bg-site: #fff;
$rg-color-site: #00344a;
$rg-color-green: #07ca75;

//Заливка
$rg-bg-light-grey: #f9f9f9;

//Текст
$rg-text-color: #00344a;
$rg-color-red: #f72b1c;
$rg-color-site-black: #00344a;
$rg-cursor-hover: pointer;
