/******************************
* Меняем стили блоков
* - Заголовки
* - Абзац
* - Разделитель
******************************/
@import "fragments/variables";
@import "fragments/components_mixin";
@import "fragments/media_mixin";
@import "fragments/fonts_mixin";

/* Меняем стили блоков */
// - Заголовки
html :where(.editor-styles-wrapper) h1,
html :where(.editor-styles-wrapper) h2,
html :where(.editor-styles-wrapper) h3,
html :where(.editor-styles-wrapper) h4,
html :where(.editor-styles-wrapper) h5,
html :where(.editor-styles-wrapper) h6,
html :where(.editor-styles-wrapper) select {
    margin: 0;
}
// - Абзац
p {
    &.wp-block {
        font-size: 1rem;
        margin: 0 0 1rem;
    }
}
// - Разделитель
.block-editor-block-list__block[data-type="core/separator"] {
    margin: 1rem 0;
}
