/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include dd_boxes_style_1;
@include dd_boxes_style_2;
@include dd_boxes_style_3;
@include dd_box_style_1;
@include dd_box_style_2;
@include dd_box_style_6;
@include rg-testimonials-swiper;
@include global_tpl_box_tariffs;
/* Стили страницы */
.page-11 {
    &.banner {
        .grid {
            grid-template-columns: 1fr auto;
            column-gap: 20px;
            .title,
            .desc-buttons {
                grid-column: 1/2;
                grid-row: 2/3;
            }
            .title {
                @include max_768 {
                    grid-column: 1/3;
                    grid-row: 1/2;
                }
            }
            .desc-buttons {
                grid-column: 1/2;
                grid-row: 3/4;
                .desc {
                    @include px-to-rem(
                        (
                            fs: 24,
                        )
                    );
                    @include max_768 {
                        font-size: 1rem;
                        @include rg-font-style(
                            (
                                style: "regular",
                                prop: "font-family",
                            )
                        );
                    }
                }
            }
            picture {
                grid-column: 2/3;
                grid-row: 1/5;
                transform: translateY(31px);
                @include max_992 {
                    transform: translateY(23px);
                }
                @include max_768 {
                    transform: translateY(0);
                    grid-row: 2/5;
                }
                @include max_definite_width(439.98) {
                    display: none !important;
                }
            }
        }
        .buttons {
            .rg-card {
                width: 100%;
                max-width: 234px;
                padding: 15px;
                transition: all 0.5s ease;
                cursor: pointer;
                @include max_1400 {
                    max-width: 198px;
                }
                @include max_1200 {
                    max-width: 165px;
                }
                @include max_992 {
                    max-width: 214px;
                }
                &:hover {
                    transform: translateY(-5px);
                }
                a {
                    @include max_1200 {
                        @include px-to-rem(
                            (
                                fs: 16,
                                base: 18,
                            )
                        );
                        line-height: 120%;
                    }
                }
            }
        }
    }
    &.banner_OLD {
        > .items {
            > .rg-card {
                &:first-child {
                    background: var(--rg-color-site);
                    max-width: 851px;
                    @include max_1400 {
                        max-width: 700px;
                    }
                    @include max_1200 {
                        max-width: 558px;
                    }
                    @include max_992 {
                        max-width: 100%;
                    }
                    h1 {
                        @include rg-font-style(
                            (
                                style: "semibold",
                                prop: "font",
                                fs: 60,
                            )
                        );
                        line-height: 48px;
                        padding-bottom: 20px;
                        @include max_1400 {
                            @include px-to-rem(
                                (
                                    fs: 65,
                                    base: 20,
                                )
                            );
                        }
                        @include max_1200 {
                            @include px-to-rem(
                                (
                                    fs: 57,
                                    base: 18,
                                )
                            );
                            line-height: 73%;
                        }
                        @include max_992 {
                            @include px-to-rem(
                                (
                                    fs: 50,
                                    base: 17,
                                )
                            );
                        }
                        @include max_768 {
                            @include px-to-rem(
                                (
                                    fs: 36,
                                    base: 16,
                                )
                            );
                        }
                        @include max_definite_width(420) {
                            @include px-to-rem(
                                (
                                    fs: 30,
                                )
                            );
                        }
                        span {
                            margin-top: 20px;
                            @include rg-font-style(
                                (
                                    style: "semibold",
                                    prop: "font",
                                    fs: 25,
                                )
                            );
                            @include max_1400 {
                                @include px-to-rem(
                                    (
                                        fs: 31,
                                        base: 20,
                                    )
                                );
                                line-height: 1;
                            }
                            @include max_1200 {
                                @include px-to-rem(
                                    (
                                        fs: 25,
                                        base: 18,
                                    )
                                );
                            }
                            @include max_992 {
                                @include px-to-rem(
                                    (
                                        fs: 29,
                                        base: 17,
                                    )
                                );
                            }
                            @include max_768 {
                                @include px-to-rem(
                                    (
                                        fs: 20,
                                        base: 16,
                                    )
                                );
                            }
                        }
                    }
                    .buttons {
                        gap: 10px;
                        .button {
                            @include px-to-rem(
                                (
                                    fs: 16,
                                )
                            );
                            background: #fff;
                            border-radius: 50px;
                            border: none;
                            padding: 10px 20px;
                            color: var(--rg-text-color);
                            @include max_1200 {
                                padding: 10px;
                                @include px-to-rem(
                                    (
                                        fs: 15,
                                        base: 18,
                                    )
                                );
                            }
                            @include max_definite_width(480.98) {
                                width: 100% !important;
                                text-align: center !important;
                                @include px-to-rem(
                                    (
                                        fs: 20,
                                        prop: "font-size",
                                        important: 1,
                                    )
                                );
                            }
                            &.active {
                                background: #000;
                                color: #fff;
                            }
                            &.order-5 {
                                @include max_1200 {
                                    order: 12;
                                }
                            }
                            &.order-8 {
                                @include max_1200 {
                                    order: 5;
                                }
                            }
                        }
                        .dropdown {
                            @include max_definite_width(480.98) {
                                width: 100% !important;
                            }
                            .dropdown-menu {
                                border: 0;
                                top: 100%;
                                right: 0;
                                margin: 0 auto 0 auto;
                                left: 0;
                                padding: 20px 10px;
                                transition: 0.5s;
                                border-radius: 0 0 10px 10px;
                                box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
                                .dropdown-item {
                                    &:hover,
                                    &:active,
                                    &:focus {
                                        background: none;
                                        color: var(--rg-color-site);
                                        text-decoration: underline;
                                    }
                                }
                            }
                            &:hover {
                                .dropdown-menu {
                                    display: table;
                                }
                            }
                        }
                    }
                }
                &.swiper {
                    padding: 0;
                    width: 419px;
                    @include max_1400 {
                        width: 393px;
                    }
                    @include max_1200 {
                        width: 355px;
                    }
                    @include max_992 {
                        width: 100%;
                    }
                    p.link,
                    .swiper-pagination {
                        padding: 20px;
                    }
                    p.link {
                        z-index: 1;
                        bottom: 10px;
                        left: 10px;
                        a {
                            display: block;
                            @include rg-font-style(
                                (
                                    style: "semibold",
                                    prop: "font",
                                    fs: 25,
                                )
                            );
                            color: white;
                            @include max_definite_width(480.98) {
                                @include px-to-rem(
                                    (
                                        fs: 16,
                                        prop: "font-size",
                                        important: 1,
                                        base: 15,
                                    )
                                );
                                line-height: 1 !important;
                                padding: 10px 15px !important;
                            }
                        }
                    }
                    .swiper-pagination {
                        display: flex;
                        .swiper-pagination-bullet {
                            background: #c4c4c4;
                            opacity: 0.8;
                            width: 100%;
                            height: 10px;
                            border-radius: 10px;
                        }
                        .swiper-pagination-bullet-active {
                            background: #fff;
                        }
                    }
                }
            }
        }
    }
    &.roaming {
        .rg-card {
            background: var(--rg-color-site-black);
            p,
            h2 {
                color: #fff;
            }
            h2 {
                @include px-to-rem(
                    (
                        fs: 60,
                    )
                );
                line-height: 110%;
                @include max_1200 {
                    @include px-to-rem(
                        (
                            fs: 55,
                            base: 18,
                        )
                    );
                }
                @include max_992 {
                    @include px-to-rem(
                        (
                            fs: 40,
                            base: 17,
                        )
                    );
                }
                @include max_definite_width(427.98) {
                    @include px-to-rem(
                        (
                            fs: 26,
                            prop: "font-size",
                            important: 1,
                            base: 15,
                        )
                    );
                }
            }
            p.desc {
                @include px-to-rem(
                    (
                        fs: 24,
                    )
                );
                line-height: 140%;
                @include max_definite_width(427.98) {
                    font-size: 1rem !important;
                }
            }
            picture {
                min-height: 400px;
                @include max_1400 {
                    min-height: 340px;
                }
                @include max_1200 {
                    min-height: 287px;
                }
                @include max_768 {
                    min-height: auto;
                }
            }
        }
    }
    &.app {
        p.desc {
            @include px-to-rem(
                (
                    fs: 24,
                    prop: "font-size",
                    important: 1,
                )
            );
            line-height: 140%;
            @include max_992 {
                font-size: 1rem !important;
            }
        }
        .nav img {
            min-height: 41px;
            @include max_768 {
                min-height: 39px;
                width: 130px;
            }
        }
        picture {
            min-height: 504px;
            @include max_1400 {
                min-height: 431px;
            }
            @include max_1200 {
                min-height: 359px;
            }
            @include max_992 {
                min-height: 263px;
            }
            @include max_768 {
                min-height: 374px;
            }
            @include max_576 {
                min-height: auto;
            }
        }
    }
}
