/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include dd_boxes_style_6;
@include dd_box_style_1;
@include global_tpl_box_tariffs;
@include dd_box_style_8;
@include dd_box_style_9;
@include rg-bg-box;
@include rg-testimonials-swiper;
/* Стили страницы */
.page-152 {
    &_important {
        .dd_boxes_style_6 {
            .rg-card {
                @include max_576 {
                    max-width: 300px;
                    margin: 0 auto;
                }
                p.desc {
                    @include px-to-rem(
                        (
                            fs: 19,
                        )
                    );
                    @include max_1400 {
                        @include px-to-rem(
                            (
                                fs: 15,
                            )
                        );
                        line-height: 120%;
                    }
                    @include max_992 {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}
