/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include dd_boxes_style_4;
@include dd_boxes_style_6;
@include dd_boxes_style_2;
@include rg-testimonials-swiper;
/* Стили страницы */
.page-158 {
    &.section_5 {
        h2 {
            @include max_1400 {
                @include px-to-rem(
                    (
                        fs: 38,
                    )
                );
                line-height: 1;
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 32,
                        base: 17,
                    )
                );
            }
            @include max_768 {
                @include px-to-rem(
                    (
                        fs: 29,
                        base: 16,
                    )
                );
            }
        }
        img {
            position: absolute;
            bottom: 0;
            right: 10px;
            max-width: 480px;
            @include max_1400 {
                max-width: 400px;
            }
            @include max_1200 {
                max-width: 260px;
            }
            @include max_992 {
                width: 160px;
            }
            @include max_768 {
                top: auto;
            }
        }
    }
}
