/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
/* Стили страницы */
.fast-connect-footer {
    padding-top: 0;
}
.page-166 {
    &.section_1.box_style_2 {
        h1 {
            @include px-to-rem(
                (
                    fs: 50,
                )
            );
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 44,
                        base: 18,
                    )
                );
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 35,
                        base: 17,
                    )
                );
            }
            @include max_768 {
                @include px-to-rem(
                    (
                        fs: 30,
                        base: 16,
                    )
                );
            }
            span {
                &.desc {
                    @include rg-font-style(
                        (
                            style: "semibold",
                            prop: "font",
                            fs: 36,
                        )
                    );
                    @include max_1400 {
                        @include px-to-rem(
                            (
                                fs: 35,
                            )
                        );
                    }
                    @include max_1200 {
                        @include px-to-rem(
                            (
                                fs: 28,
                                base: 18,
                            )
                        );
                    }
                    @include max_992 {
                        @include px-to-rem(
                            (
                                fs: 22,
                                base: 17,
                            )
                        );
                    }
                    @include max_768 {
                        @include px-to-rem(
                            (
                                fs: 20,
                                base: 16,
                            )
                        );
                    }
                    br {
                        @include max_1200 {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    &.section_2 {
        ul {
            > li {
                @include px-to-rem(
                    (
                        fs: 16,
                    )
                );
            }
        }
    }
}
