/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;
/* Стили страницы */
.page-2 {
    &.banner {
        .content {
            .wrapper {
                @include min_definite_width(1400) {
                    max-width: 574px;
                }
            }
        }
    }

    &.products-for-business {
        .items {
            .item {
                &:hover {
                    .btn_link {
                        .arrow {
                            width: 50px;
                        }
                    }
                }

                max-width: 600px;
                margin-bottom: 60px;
                @include max_1400 {
                    max-width: 530px;
                }
                @include max_1200 {
                    max-width: 465px;
                    margin-bottom: 50px;
                }
                @include max_992 {
                    max-width: 340px;
                }
                @include max_768 {
                    max-width: 100%;
                    margin-bottom: 40px;
                }
            }
        }
    }
}
