/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;
@include rg-grid-column((1, 2));
@include generate-gap-classes((50));
/* Стили страницы */
.page-38 {
    &.banner {
        .content {
            .wrapper {
                @include min_definite_width(1400) {
                    max-width: 700px;
                }
            }
        }
    }

    &.features {
        .content {
            padding: 40px;
            @include max_992 {
                padding: 30px;
            }
            @include max_768 {
                padding: 30px 20px;
            }
            @include max_576 {
                padding: 20px 10px;
            }

            .items {
                .item {
                    &:nth-child(1) {
                        img {
                            @include max_1400 {
                                max-width: 190px;
                                width: 100% !important;
                            }
                            @include max_1200 {
                                max-width: 160px;
                            }
                        }
                    }

                    &:nth-child(2) {
                        img {
                            @include max_1400 {
                                max-width: 310px;
                                width: 100% !important;
                            }
                            @include max_1200 {
                                max-width: 261px;
                            }
                        }
                    }
                }
            }
        }
    }
}
