/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;

/* Стили страницы */
.page-55 {
    &.solutions-by-sphere {
        .content {
            padding: 40px;
            @include max_1200 {
                padding: 30px;
            }
            @include max_768 {
                padding: 30px 20px;
            }
            @include max_576 {
                padding: 20px 10px;
            }

            .items {
                grid-template-columns: 1fr 1fr;
                gap: 40px 30px;
                @include max_992 {
                    grid-template-columns: 1fr;
                    gap: 30px;
                }

                img {
                    @include max_1400 {
                        max-width: 250px;
                    }
                    @include max_1200 {
                        max-width: 210px;
                        width: 100% !important;
                    }
                }
            }
        }
    }

    &.effective-solutions {
        h2 {
            @include max_1200 {
                padding-bottom: 30px;
            }
        }

        .items {
            .item {
                max-width: 280px;
                width: 100%;
                @include max_1400 {
                    max-width: 250px;
                }
                @include max_1200 {
                    max-width: 220px;
                }
                @include max_992 {
                    max-width: 45%;
                }
                @include max_576 {
                    max-width: 47.5%;
                }
            }
        }
    }
}
