/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;
@include rg-grid-column((1, 2));
@include generate-gap-classes((40));
/* Стили страницы */
.page-55 {
    &.solutions-by-sphere {
        .items {
            img {
                @include max_1400 {
                    max-width: 250px;
                }
                @include max_1200 {
                    max-width: 210px;
                    width: 100% !important;
                }
            }
        }
    }

    &.effective-solutions {
        .items {
            .item {
                max-width: 280px;
                width: 100%;
                @include max_1400 {
                    max-width: 250px;
                }
                @include max_1200 {
                    max-width: 220px;
                }
                @include max_992 {
                    max-width: 45%;
                }
                @include max_576 {
                    max-width: 47.5%;
                }
            }
        }
    }
}
