/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;

/* Стили страницы */
.page-61 {
    &.common-products {
        .content {
            padding: 40px;
            @include max_1200 {
                padding: 30px;
            }
            @include max_768 {
                padding: 30px 20px;
            }
            @include max_576 {
                padding: 20px 10px;
            }

            .items {
                grid-template-columns: 1fr 1fr;
                gap: 30px;
                @include max_992 {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    &.available-solutions {
        .items {
            .item {
                margin-bottom: 70px;
                @include max_1200 {
                    margin-bottom: 50px;
                }
                @include max_576 {
                    margin-bottom: 40px;
                }
            }
        }
    }
}
