/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;

/* Стили страницы */
.page-64 {
    &.banner {
        .content {
            .wrapper {
                @include min_definite_width(1400) {
                    max-width: 700px;
                }
            }
        }
    }

    &.available-solutions {
        .items {
            .item {
                .subtitle {
                    line-height: normal;
                }
            }
        }
    }

    &.main-advantages {
        .content {
            .nav-item {
                @include max_576 {
                    width: 100%;
                }

                .btn {
                    @include max_576 {
                        width: 100%;
                    }
                }
            }
        }
    }

    &.responsible-for-safety {
        .content {
            grid-template-columns: 630px 568px;
            @include max_1400 {
                grid-template-columns: 520px 491px;
            }
            @include max_1200 {
                grid-template-columns: 395px 444px;
            }
            @include max_992 {
                grid-template-columns: 350px 311px;
            }
            @include max_768 {
                grid-template-columns: 1fr;
            }
        }
    }
}
