/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;

/* Стили страницы */
.page-75 {
    &.automation-level {
        .content {
            .wrapper {
                max-width: 635px;
                @include max_1400 {
                    max-width: 568px;
                }
                @include max_1200 {
                    max-width: 502px;
                }
                @include max_992 {
                    max-width: 100%;
                }
            }

            .rg-list {
                max-width: 526px;
                @include max_1400 {
                    max-width: 467px;
                }
                @include max_1200 {
                    max-width: 409px;
                }
                @include max_992 {
                    max-width: 100%;
                }
            }
        }
    }

    &.single-automation-system {
        .content {
            padding: 40px;
            @include max_992 {
                padding: 30px;
            }
            @include max_768 {
                padding: 30px 20px;
            }
            @include max_576 {
                padding: 20px 10px;
            }

            .nav-item,
            .nav-item .btn {
                @include max_576 {
                    width: 100%;
                }
            }

            .tab-content {
                padding: 40px;
                @include max_1200 {
                    padding: 30px;
                }
                @include max_768 {
                    padding: 30px 20px;
                }

                .items {
                    grid-template-columns: repeat(6, 1fr);
                    gap: 40px;
                    @include max_1200 {
                        gap: 30px;
                    }
                    @include max_992 {
                        grid-template-columns: 1fr;
                    }

                    .item {
                        .desc {
                            max-width: 1000px;
                        }

                        &_column-2 {
                            grid-column: span 2;
                            @include max_992 {
                                grid-column: span 1;
                            }
                        }

                        &_column-3 {
                            grid-column: span 3;
                            @include max_992 {
                                grid-column: span 1;
                            }
                        }
                    }
                }
            }
        }
    }

    &.video-section {
        .content {
            h2 {
                max-width: 430px;
                @include max_1400 {
                    max-width: 395px;
                }
                @include max_1200 {
                    max-width: 347px;
                }
                @include max_992 {
                    max-width: 80%;
                }
                @include max_768 {
                    max-width: 90%;
                }
            }

            .video-wrapper {
                width: 100%;
                max-width: 744px;
                padding: 0;
                height: 418px;
                @include max_1400 {
                    max-width: 691px;
                    height: 388px;
                }
                @include max_1200 {
                    max-width: 546px;
                    height: 307px;
                }
                @include max_992 {
                    max-width: 100%;
                    height: auto;
                    padding: 0 0 56.25%;
                }
            }
        }
    }

    &.ready-solutions {
        .title-desc {
            max-width: 850px;
        }

        .items {
            @include max_992 {
                gap: 50px;
                max-width: 95%;
                margin: auto;
            }
            @include max_768 {
                max-width: 100%;
                gap: 30px 48px;
            }
            @include max_576 {
                gap: 20px 30px;
            }
        }
    }
}
