/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include dd_box_style_9;
@include rg-testimonials-swiper;
@include rg-bg-box;
/* Стили страницы */
.page-7697 {
    &.banner {
        h1.title {
            @include px-to-rem(
                (
                    fs: 57,
                )
            );
            @include max_1400 {
                @include px-to-rem(
                    (
                        fs: 48,
                    )
                );
            }
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 38,
                        base: 18,
                    )
                );
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 30,
                        base: 17,
                    )
                );
            }
        }
    }
}
