/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include global_tpl_box_tariffs;
@include rg-bg-box;
@include rg-ep-tariffs;
@include dd_box_style_1;
/* Стили страницы */
.page-7701 {
    &.banner {
        h1 {
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 44,
                        base: 18,
                    )
                );
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 30,
                        base: 17,
                    )
                );
            }
        }
    }
    &.box_style_2 {
        h1 {
            @include px-to-rem(
                (
                    fs: 42,
                )
            );
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 34,
                        base: 18,
                    )
                );
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 26,
                        base: 17,
                    )
                );
            }
        }
    }
    &.section_2 {
        h2 {
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 38,
                        base: 18,
                    )
                );
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 28,
                        base: 17,
                    )
                );
                padding-bottom: 30px;
            }
        }
    }
    &.section_3 {
        h2 {
            @include max_1400 {
                @include px-to-rem(
                    (
                        fs: 40,
                    )
                );
            }
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 33,
                        base: 18,
                    )
                );
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 38,
                        base: 17,
                    )
                );
            }
            @include max_576 {
                @include px-to-rem(
                    (
                        fs: 28,
                        base: 15,
                    )
                );
            }
        }
        img {
            @include max_1400 {
                max-width: 340px;
            }
        }
    }
}
