/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include global_tpl_box_tariffs;
@include rg-testimonials-swiper;
@include dd_box_style_9;
/* Стили страницы */
.page-7742 {
    &.box_style_2 {
        h1 {
            @include px-to-rem(
                (
                    fs: 53,
                )
            );
            @include max_1400 {
                @include px-to-rem(
                    (
                        fs: 43,
                    )
                );
            }
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 33,
                        base: 18,
                    )
                );
            }
        }
    }

    &.section_3 {
        .box_style_8 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;

            .box_style_5 {
                .head {
                    .img {
                        margin-right: 20px;
                    }

                    .text {
                        .title {
                            @include rg-font-style(
                                (
                                    style: "semibold",
                                    prop: "font",
                                    fs: 24,
                                    lh: 130%,
                                )
                            );
                        }
                    }
                }

                .body {
                    p {
                        @include rg-font-style(
                            (
                                style: "semibold",
                                prop: "font",
                                fs: 17,
                                lh: 130%,
                            )
                        );
                    }
                }
            }
        }
    }
}
