/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-block-1;
@include rg-grid-column((1, 2));
@include generate-gap-classes((40, 50));
/* Стили страницы */
.page-80 {
    &.teamwork-security {
        .content {
            grid-template-columns: 610px 620px;
            @include max_1400 {
                grid-template-columns: 456px 538px;
            }
            @include max_1200 {
                grid-template-columns: 456px 481px;
            }
            @include max_992 {
                grid-template-columns: 1fr;
            }
        }
    }

    &.secure-documents {
        .content {
            @include min_definite_width(768) {
                border-radius: 50px;
            }
        }
    }

    &.all-for-security {
        .content {
            .wrapper {
                max-width: 660px;
                @include max_1400 {
                    max-width: 560px;
                }
                @include max_1200 {
                    max-width: 504px;
                }
                @include max_992 {
                    max-width: 330px;
                }
                @include max_768 {
                    display: contents;
                }
            }

            img {
                max-width: 550px;
                @include max_1400 {
                    max-width: 502px;
                }
                @include max_1200 {
                    max-width: 400px;
                }
                @include max_992 {
                    max-width: 350px;
                }
                @include max_576 {
                    max-width: 340px;
                }
            }
        }
    }

    &.team-collaboration {
        .content {
            .items {
                grid-template-columns: repeat(3, 350px);
                @include max_1400 {
                    grid-template-columns: repeat(3, 330px);
                }
                @include max_1200 {
                    grid-template-columns: repeat(3, 270px);
                }
                @include max_992 {
                    grid-template-columns: 1fr;
                }
            }
        }
    }

    &.system-requirements {
        .items {
            .item {
                margin-left: auto;
                grid-template-columns: repeat(2, 390px);
                gap: 80px;
                @include max_1400 {
                    grid-template-columns: repeat(2, 350px);
                    gap: 36px;
                }
                @include max_1200 {
                    grid-template-columns: repeat(2, 300px);
                    gap: 50px;
                }
                @include max_992 {
                    grid-template-columns: repeat(2, 250px);
                }
                @include max_992 {
                    gap: 0;
                    justify-content: space-between;
                }
                @include max_768 {
                    margin-left: 0;
                }
                @include max_576 {
                    grid-template-columns: repeat(2, 48%);
                }
            }
        }
    }

    &.future-proof-solution {
        .items {
            .item {
                @include max_1200 {
                    max-width: 450px;
                }
                @include max_992 {
                    max-width: 100%;
                }
            }
        }
    }
}
