/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include dd_box_style_8;
@include global_tpl_box_tariffs;
@include dd_boxes_style_6;
@include rg-bg-box;
@include rg-testimonials-swiper;
/* Стили страницы */
.page-82 {
    &.terms {
        .snoska {
            .item {
                width: 100%;
                max-width: 82px;
                &:first-child {
                    @include max_576 {
                        display: none;
                    }
                }
                &:last-child {
                    max-width: 100%;
                    flex: 1 1 390px;
                }
            }
        }
    }
}
