/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */

/* Стили страницы */
.page-8740 {
    &.banner {
        .wrapper {
            max-width: 664px;
            @include max_1400 {
                max-width: 620px;
            }
            @include max_1200 {
                max-width: 520px;
            }
            @include max_992 {
                max-width: 410px;
            }
            @include max_768 {
                display: contents;
            }

            h1 {
                line-height: 110%;
            }

            .desc {
                max-width: 635px;

                p {
                    @include px-to-rem(
                        (
                            fs: 25,
                        )
                    );
                    line-height: 130%;
                    @include max_992 {
                        @include px-to-rem(
                            (
                                fs: 22,
                            )
                        );
                    }
                }
            }
        }

        img {
            @include max_576 {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    &.main-differences {
        .content {
            background: #f9f9f9;
            border-radius: 10px;
            padding: 40px;
            @include max_992 {
                padding: 30px;
            }
            @include max_576 {
                padding: 20px;
            }
        }

        h3 {
            @include px-to-rem(
                (
                    fs: 30,
                )
            );
        }

        .nav-pills {
            .nav-item {
                .btn {
                    background: transparent;
                    color: #c4c4c4;
                    padding: 10px 20px;
                    @include px-to-rem(
                        (
                            fs: 30,
                        )
                    );
                    box-shadow: none;

                    &.active {
                        background: #00bea2;
                        color: #fff;
                    }
                }
            }
        }

        .title-desc {
            max-width: 1100px;

            .desc {
                margin-top: 40px;
                @include max_992 {
                    margin-top: 30px;
                }
            }
        }

        .table-wrapper {
            padding: 40px;
            @include max_992 {
                padding: 30px;
            }
            @include max_576 {
                padding: 20px;
            }
            @include max_definite_width(500) {
                overflow: auto !important;
            }

            table {
                width: 100%;
                table-layout: fixed;
                @include max_definite_width(500) {
                    width: 400px !important;
                }

                th,
                td {
                    &:nth-child(2) {
                        width: 30%;
                    }

                    &:nth-child(1) {
                        @include max_992 {
                            padding-right: 30px;
                        }
                        @include max_576 {
                            padding-right: 20px;
                        }
                    }
                }

                td {
                    padding: 15px 0;
                    border-top: 2px solid #f1f1f1;
                }
            }

            &.table-wrapper-2 {
                th,
                td {
                    &:nth-child(1) {
                        padding-right: 60px;
                        @include max_992 {
                            padding-right: 30px;
                        }
                        @include max_576 {
                            padding-right: 20px;
                        }
                    }

                    &:nth-child(2) {
                        width: 20%;
                    }
                }
            }
        }
    }

    &.optimization-business-processes {
        .wrapper {
            max-width: 676px;
            @include max_1400 {
                max-width: 590px;
            }
            @include max_1200 {
                max-width: 530px;
            }
            @include max_992 {
                max-width: 100%;
            }

            p {
                @include px-to-rem(
                    (
                        fs: 25,
                    )
                );
                line-height: 130%;
            }
        }
    }

    &.what-main-differences {
        h2.title {
            padding-bottom: 50px;
            @include max_992 {
                padding-bottom: 40px;
            }
            @include max_576 {
                padding-bottom: 30px;
            }
        }

        .table-wrapper {
            @include max_definite_width(500) {
                overflow: auto !important;
            }

            table {
                @include max_definite_width(500) {
                    width: 477px !important;
                }

                th {
                    @include px-to-rem(
                        (
                            fs: 24,
                        )
                    );
                    padding-bottom: 20px;
                }

                td,
                th {
                    width: 50%;

                    &:nth-child(1) {
                        padding-right: 40px;
                        @include max_768 {
                            padding-right: 20px;
                        }
                    }

                    &:nth-child(2) {
                        padding-left: 40px;
                        @include max_768 {
                            padding-left: 20px;
                        }
                    }
                }

                td {
                    padding: 15px 0;
                    border-top: 2px solid #f1f1f1;
                }
            }
        }
    }
}
