/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-testimonials-swiper;
@include dd_box_style_3;
@include dd_boxes_style_2;
@include dd_boxes_style_1;
@include dd_box_style_5;
@include dd_box_style_1;
/* Стили страницы */
.page-9829 {
    &.favorable-conditions {
        .container {
            .desc {
                max-width: 1072px;
                @include rg-font-style(
                    (
                        style: "medium",
                        prop: "font",
                        fs: 25,
                        lh: 130%,
                    )
                );
            }

            .items {
                max-width: 1072px;
                margin: auto;

                .item {
                    .title {
                        @include rg-font-style(
                            (
                                style: "semibold",
                                prop: "font",
                                fs: 30,
                                lh: 130%,
                            )
                        );
                        @include max_992 {
                            @include px-to-rem(
                                (
                                    fs: 26,
                                )
                            );
                        }
                        @include max_576 {
                            @include px-to-rem(
                                (
                                    fs: 24,
                                )
                            );
                        }
                    }

                    .form-check {
                        > div {
                            @include max_992 {
                                max-width: 70%;
                            }
                            @include max_576 {
                                max-width: 60%;
                            }

                            .form-check-label {
                                cursor: pointer;

                                span {
                                    @include px-to-rem(
                                        (
                                            fs: 16,
                                        )
                                    );
                                    @include max_576 {
                                        @include px-to-rem(
                                            (
                                                fs: 18,
                                            )
                                        );
                                    }
                                }
                            }

                            input {
                                cursor: pointer;
                            }
                        }

                        .price {
                            @include rg-font-style(
                                (
                                    style: "medium",
                                    prop: "font",
                                    fs: 18,
                                    lh: 100%,
                                )
                            );

                            span {
                                @include px-to-rem(
                                    (
                                        fs: 25,
                                    )
                                );
                                @include max_576 {
                                    @include px-to-rem(
                                        (
                                            fs: 20,
                                        )
                                    );
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &.work-standards {
        .content {
            .wrapper {
                max-width: 636px;
                @include max_1400 {
                    max-width: 556px;
                }
                @include max_992 {
                    max-width: 90%;
                }
            }
        }
    }

    &.all-areas {
        .items {
            .item {
                .title {
                    @include px-to-rem(
                        (
                            fs: 30,
                        )
                    );
                }
            }
        }
    }
}
