/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
/* Стили страницы */
.page-99 {
    &.section_1 {
        .rus-info {
            max-width: 520px;
            .img {
                border-top: 1px solid #f5f5f5;
                border-radius: 10px;
                width: 75px;
                overflow: hidden;
            }
            .text {
                flex: 1 1 400px;
            }
        }
    }
    &.address {
        .box {
            background:
                linear-gradient(rgb(0 195 168 / 50%), var(--rg-color-site)),
                url(../../img/pages/contacts/moscow.jpg) no-repeat 50% / cover,
                red;
            h2,
            p,
            i,
            a {
                color: white;
            }
            .RGphoneSHORT {
                &:before {
                    min-width: 162px;
                    background: #3982af;
                    font-family: inherit;
                }
            }
            &.spb {
                background:
                    linear-gradient(rgb(0 195 168 / 50%), var(--rg-color-site)),
                    url(../../img/pages/contacts/spb.jpg) no-repeat 50% / cover,
                    red;
            }
        }
        p {
            @include rg-font-style(
                (
                    style: "semibold",
                    prop: "font",
                )
            );
            &.title {
                @include rg-font-style(
                    (
                        style: "semibold",
                        prop: "font",
                        fs: 23,
                    )
                );
                margin-bottom: 5px;
            }
            &.desc {
                margin-left: 23px;
            }
            &.tp {
                color: var(--rg-text-color);
                a {
                    color: var(--rg-color-site);
                }
            }
        }
    }
}
