/******************************
* Normalize
*  - html и body
*  - Оформление отображения кода <pre>, <code>
*  - Настройка контейнера .container
*  - Grids
*  - Border radius
*  - More orders
*  - Отступы
*  - Заголовки h1, .h1, h2, .h2, h3, .h3, h5, .h5
*  - Подзаголовок
*  - Символ рубля ₽
*  - Текст font-size 20px
*  - Перенос текста
*  - Жирный шрифт
*  - Ссылки
*  - Цвета по умолчанию
*  - Тень
*  - Картинки
*  - Видео
*  - Списки
*  - Секции
*  - Заливка - background
*  - Оформление заголовок + описание
* Header
*  - Мобильное меню
*  - Хлебные крошки
* Body
*  - Шаблоны страниц
*  -- Отзывы (/testimonials/)
*  - Пагинация
*  - Навигация по постом <-- Prev | Next -->
*  - Кнопки
*  - Формы
*  - Аккордеоны
*  - Табы
*  - Комментарии
* Footer
* Дополнительные модули
* Анимация @keyframes
******************************/
@import "fragments/variables";
@import "fragments/components_mixin";
@import "fragments/media_mixin";
@import "fragments/fonts_mixin";
/* Часто повторяющиеся элементы */
@include rg-bg-box;
@include rg-feedback-form;
/* Normalize */
:root {
    //Цвета элементов
    --rg-bg-site: #{$rg-bg-site};
    --rg-color-site: #{$rg-color-site};
    --rg-fs: #{$rg-base-font-size};
    --rg-fs-small: #{$rg-base-font-size-small};
    --rg-color-light-grey: #{$rg-bg-light-grey};
    --rg-text-color: #{$rg-text-color};
    @include max_1400 {
        --rg-fs: 19px;
        --rg-fs-small: 18px;
    }
    @include max_1200 {
        --rg-fs: 17px;
        --rg-fs-small: 16px;
    }
    @include max_576 {
        --rg-fs: 16px;
    }
}

// - html и body
html {
    overflow-x: hidden;
    font-size: 20px;

    body {
        font-size: var(--rg-fs);
        line-height: $rg-base-font-line-height;
        @include rg-font-style(
            (
                style: "light",
                prop: "font-family",
            )
        );
        background: $rg-bg-site;
        color: $rg-text-color;
        overflow-x: hidden;
        position: relative;
    }
}

// - Оформление отображения кода <pre>, <code>
pre,
code {
    background: #1f1f1f !important;
    color: $rg-color-site !important;
    padding: 25px 15px;
    width: 100%;
    display: block;
    margin: 25px 0;
}

// - Настройка контейнера .container
.container {
    @include max_1400 {
        padding: 0;
    }
    @include max_576 {
        padding: 0 15px;
    }

    &.mini {
        @include min_definite_width(768) {
            max-width: 900px;
            margin: 0 auto;
            padding: 0 15px;
        }
    }
}

// - Grids
.grid {
    display: grid;
}

.grid-inline {
    display: inline-grid;
}

// - Border radius
.br-1 {
    border-radius: 10px !important;
}

.br-2 {
    border-radius: 20px !important;
}

.br-3 {
    border-radius: 30px !important;
}

.br-4 {
    border-radius: 40px !important;
}

.br-5 {
    border-radius: 50px !important;
}

// - More orders
.order-6 {
    order: 6;
}

.order-7 {
    order: 7;
}

.order-8 {
    order: 8;
}

.order-9 {
    order: 9;
}

.order-10 {
    order: 10;
}

// - Отступы
.mb-15 {
    margin-bottom: 15px;
}

.mb-50 {
    margin-bottom: 50px;
    @include max_992 {
        margin-bottom: 40px;
    }
}

.mb-40 {
    margin-bottom: 40px;
    @include max_992 {
        margin-bottom: 30px;
    }
}

// - Заголовки h1, .h1, h2, .h2, h3, .h3,
h1,
.h1,
h2,
.h2,
h3,
.h3 {
    @include rg-font-style(
        (
            style: "regular",
            prop: "font",
            fs: 60,
        )
    );
    padding-bottom: 30px;
    line-height: 120%;
    margin-bottom: 0;

    span {
        &.no-color {
            color: $rg-text-color;
        }
    }

    br {
        @include max_576 {
            display: none;
        }
    }

    &.pb-50 {
        padding-bottom: 50px;
        @include max_992 {
            padding-bottom: 40px;
        }
        @include max_576 {
            padding-bottom: 30px;
        }
    }

    &.pb-40 {
        padding-bottom: 40px;
        @include max_992 {
            padding-bottom: 30px;
        }
        @include max_576 {
            padding-bottom: 20px;
        }
    }
}

.h1,
h1 {
    @include max_1400 {
        @include px-to-rem(
            (
                fs: 55,
            )
        );
    }
    @include max_1200 {
        @include px-to-rem(
            (
                fs: 50,
            )
        );
    }
    @include max_992 {
        @include px-to-rem(
            (
                fs: 40,
            )
        );
    }
    @include max_576 {
        @include px-to-rem(
            (
                fs: 35,
            )
        );
    }
}

.h2,
h2 {
    @include px-to-rem(
        (
            fs: 50,
        )
    );
    line-height: 125%;
    @include max_1400 {
        @include px-to-rem(
            (
                fs: 45,
            )
        );
    }
    @include max_1200 {
        @include px-to-rem(
            (
                fs: 40,
            )
        );
    }
    @include max_992 {
        @include px-to-rem(
            (
                fs: 35,
            )
        );
    }

    @include max_576 {
        @include px-to-rem(
            (
                fs: 30,
            )
        );
    }
}

.h3,
h3 {
    @include px-to-rem(
        (
            fs: 40,
        )
    );
    line-height: 130%;
    @include max_1400 {
        @include px-to-rem(
            (
                fs: 35,
            )
        );
    }
    @include max_1200 {
        @include px-to-rem(
            (
                fs: 30,
            )
        );
    }
    @include max_576 {
        @include px-to-rem(
            (
                fs: 25,
            )
        );
    }
}

// - Подзаголовок
.subtitle {
    @include rg-font-style(
        (
            fs: 30,
            style: "regular",
            lh: 130%,
        )
    );
    @include max_1400 {
        @include px-to-rem(
            (
                fs: 28,
            )
        );
    }
    @include max_1200 {
        @include px-to-rem(
            (
                fs: 24,
            )
        );
    }
    @include max_992 {
        @include px-to-rem(
            (
                fs: 22,
            )
        );
    }
    @include max_576 {
        @include px-to-rem(
            (
                fs: 20,
            )
        );
    }
}

// - Символ рубля ₽
.rubl:after {
    content: "\20BD";
    display: inline-block;
}

// - Текст font-size 20px
.small-text {
    font-size: var(--rg-fs-small);
}

// - Перенос текста
.whiteSpace {
    &_nowrap {
        white-space: nowrap;
    }
}

// - Жирный шрифт
.strong,
b {
    @include rg-font-style(
        (
            style: "regular",
            prop: "font-family",
        )
    );
}

// - Ссылки
a {
    transition: all 0.3s linear;
    color: $rg-text-color;
    position: relative;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $rg-color-site;
        text-decoration: none;
        outline: none;
        cursor: $rg-cursor-hover;

        &.color-text {
            color: $rg-text-color;
        }
    }
}

// - Цвета по умолчанию
.color-default {
    color: $rg-color-site !important;
}

.color-text {
    color: $rg-text-color !important;
}

.color-grey {
    color: #62818e !important;
}

.color-white {
    color: white !important;
}

.color-red {
    color: $rg-color-red !important;
}

// - Тень
.shadow {
    box-shadow: 2px 2px 10px 0 rgba(42, 42, 42, 0.15);
}

// - Картинки
img {
    height: auto;
    width: 100%;
    aspect-ratio: attr(width) / attr(height);

    &.lazy {
        opacity: 0;
    }

    &:not([src]):not([srcset]) {
        visibility: hidden;
    }

    &:not(.initial) {
        transition: opacity 1s;
    }

    &.initial,
    &.loaded,
    &.error {
        opacity: 1;
    }
}

object {
    width: 100%;
}

// - Видео: задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%)
.adaptive-video {
    position: relative;
    overflow: hidden;
    height: 0;
    padding: 0 0 56.25%;
    border-radius: 10px;

    &_white {
        &:before {
            color: white;
        }
    }

    .bg-layout {
        z-index: 1;
        top: 0;
        left: 0;
        display: flex;
        transition: opacity 0.7s;
        opacity: 1;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;

        .play-button {
            transition: all 0.7s ease-in-out;
            border: none;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80px;
                height: 80px;
                transform: translate(-50%, -50%);
                border-radius: 100%;
                background-color: #222;
                background-repeat: no-repeat;
                background-position: 50%;
                background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='42' height='42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M37.38 19.85a.75.75 0 010 1.3L11.374 36.182a.75.75 0 01-1.125-.65V5.467a.75.75 0 011.125-.649L37.38 19.851z' stroke='%23fff' stroke-width='2.5'/%3E%3C/svg%3E");
            }
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-width: 0;
        outline-width: 0;
    }
}

// - Списки
ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
.wp-block-navigation.is-vertical {
    li {
        list-style: none;
        margin: 0;
    }

    &.rg-list {
        padding: 0 0 1rem;

        > li,
        ul.wp-block-navigation__container > li {
            position: relative;
            margin-bottom: 15px;
            padding-left: 15px;

            &::before {
                position: absolute;
                top: 13px;
                width: 5px;
                height: 5px;
                border-radius: 5px;
                background: $rg-color-site;
                left: 0;
                display: block;
                content: "";
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        ul.wp-block-navigation__container {
            > li {
                &::before {
                    top: 8px;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: var(--rg-color-site);
                }

                &::after {
                    display: none;
                }
            }

            &_white {
                > li {
                    &::before {
                        background: white;
                    }
                }
            }
        }
    }
}

ol {
    counter-reset: myCounter;
    list-style: none;
    margin-bottom: 1rem;

    > li {
        margin-bottom: 10px;
        padding-left: 20px;

        &:last-child {
            margin-bottom: 0;
        }

        &:before {
            content: counter(myCounter) ". ";
            counter-increment: myCounter;
            top: 0;
            left: 0;
            @include rg-font-style(
                (
                    style: "semibold",
                )
            );
            color: $rg-color-site;
            margin-left: -20px;
        }
    }

    ul {
        margin-top: 10px;
        padding-left: 1rem;
        padding-bottom: 0 !important;
    }
}

// - Секции
section,
.section {
    padding: 75px 0;
    @include max_992 {
        padding: 65px 0;
    }
    @include max_768 {
        padding: 50px 0;
    }
}

// - Заливка - background
.bg {
    &-default {
        background: var(--rg-color-site);
    }

    &-gray {
        background: var(--rg-color-light-grey);
    }

    &-none {
        background: none !important;
    }
}

// - Оформление заголовок + описание
.title-desc {
    max-width: 950px;
    text-align: center;
    margin-inline: auto;

    &.big {
        max-width: 1100px;
    }

    .title {
        padding-bottom: 1.5rem;
    }

    .desc {
        margin: 0;
        padding: 0;
    }
}

// - Блок 1100px
.block-1100 {
    max-width: 1100px;
    @include max_1400 {
        max-width: 990px;
    }
    @include max_1200 {
        max-width: 850px;
    }
}

/* Header */
header#header.header {
    .container_header {
        &.fixed {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 49;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.04);
            background: white;
            margin: auto;
        }
    }

    .header-content {
        padding: 30px 0;
        @include max_1200 {
            padding: 20px 0 30px;
        }
        @include max_992 {
            padding: 30px 0;
        }
        @include max_576 {
            padding: 20px 0;
        }

        .header-logo {
            img {
                @include max_1200 {
                    max-width: 180px;
                }
                @include max_992 {
                    max-width: 160px;
                }
                @include max_768 {
                    max-width: 120px;
                }
            }
        }

        .header-callback {
            a {
                color: $rg-color-site;
                @include rg-font-style(
                    (
                        style: "regular",
                        prop: "font-family",
                    )
                );
            }

            #requestCall {
                color: $rg-color-green;
                background: transparent;
                border: none;
                padding: 0;
                position: relative;

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 1px;
                    transition: all 0.3s ease;
                    width: 0;
                    left: 0;
                    bottom: -2px;
                    background: #07ca75;
                }

                &:hover:before {
                    width: 100%;
                }
            }
        }

        .header-menu {
            .nav-link {
                font-size: var(--rg-fs-small);
                color: $rg-text-color;
                padding: 0;
                position: relative;

                &:hover {
                    &:before {
                        width: 100%;
                    }
                }

                &:before {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: -2px;
                    left: 0;
                    height: 1px;
                    background: currentColor;
                    width: 0;
                    transition: all 0.3s linear;
                }
            }

            .menu-item {
                &.dropdown {
                    position: relative;

                    > a {
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        &:after {
                            content: "\F282";
                            font-family: "bootstrap-icons", sans-serif;
                            margin: 0;
                            border: 0;
                            vertical-align: middle;
                            @include px-to-rem(
                                (
                                    fs: 10,
                                )
                            );
                        }
                    }

                    .dropdown-menu {
                        left: auto;
                        right: 0;
                        border-radius: 20px;
                        box-shadow: 2px 2px 10px 0 rgba(34, 34, 34, 0.15);
                        padding: 20px;

                        .menu-item {
                            &:not(:last-child) {
                                .dropdown-item {
                                    margin-bottom: 14px;
                                }
                            }

                            .dropdown-item {
                                padding: 0;
                                line-height: 145%;

                                &:hover,
                                &:active,
                                &:focus {
                                    color: $rg-text-color;
                                }

                                &:before {
                                    content: none;
                                }
                            }
                        }
                    }

                    &:hover {
                        > .dropdown-menu {
                            display: block;
                        }
                    }
                }
            }
        }

        .mobile-menu-button {
            padding: 14px 8px;
            background: $rg-bg-light-grey;
            border-radius: 10px;
            border: none;
            gap: 3px;
            position: relative;
            z-index: 10400;

            &.active {
                align-items: flex-end;
            }

            span {
                width: 24px;
                height: 2px;
                display: block;
                border-radius: 10px;
                background: $rg-color-site;
                transition:
                    transform 0.3s ease-in-out,
                    opacity 0.3s ease-in-out;

                &:nth-child(2) {
                    width: 20px;
                }
            }
        }
    }
}

// - Мобильное меню
#mobileMenu {
    top: 90px;
    border-radius: 20px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    left: 0;
    width: 100%;
    z-index: 10400;
    min-height: 400px;
    height: max-content;
    padding: 40px 30px 30px;
    @include max_768 {
        padding: 40px 20px;
        min-height: 640px;
        max-width: calc(100% - 36px);
        top: 78px;
    }
    @include max_576 {
        height: auto;
        min-height: 1px;
        bottom: 25px;
    }

    .btn-close {
        position: absolute;
        top: 20px;
        right: 20px;
        opacity: 1;
    }

    #menu-paste {
        padding: 30px;

        .nav-item {
            padding-bottom: 10px;
            margin: 0;
            border-bottom: 1px solid #e8e8e8;

            .nav-link {
                color: $rg-color-site;
                padding: 0;
                font-size: var(--rg-fs-small);
            }
        }
    }

    .btn {
        @include max_576 {
            max-width: 100%;
        }
    }
}

// - Хлебные крошки
#breadcrumbs {
    background: #f8f9fa;
    margin: 15px 0 0;
    padding: 1px 0;
    @include max_992 {
        margin: 0;
    }

    .breadcrumb {
        margin: 15px 0;

        > *:first-of-type {
            font-weight: 700;
            font-size: 1rem;
        }

        li {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 325px;
            display: inline-block;
        }

        a {
            color: $rg-text-color;
        }
    }
}

/* Body */
// - Шаблоны страниц
main {
    &.page-404 {
        .content {
            min-height: 600px;
            @include max_1400 {
                min-height: 530px;
            }
            @include max_1200 {
                min-height: 446px;
            }
            @include max_992 {
                min-height: 334px;
            }
            @include max_768 {
                min-height: 1px;
            }

            .wrapper {
                padding: 50px;
                @include max_992 {
                    padding: 40px;
                }
                @include max_768 {
                    padding: 30px 30px 0;
                }
                @include max_576 {
                    padding: 20px 10px;
                }

                h1 {
                    @include px-to-rem(
                        (
                            fs: 40,
                        )
                    );
                    @include max_1200 {
                        @include px-to-rem(
                            (
                                fs: 35,
                            )
                        );
                    }
                    @include max_992 {
                        @include px-to-rem(
                            (
                                fs: 30,
                            )
                        );
                    }
                    @include max_576 {
                        @include px-to-rem(
                            (
                                fs: 25,
                            )
                        );
                    }
                }

                .btn {
                    @include max_576 {
                        margin: auto;
                    }
                }
            }

            .image {
                position: absolute;
                bottom: 0;
                right: 0;
                @include max_768 {
                    position: static;
                }

                img {
                    @include max_576 {
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}

// - Пагинация
.pagination {
    .page-numbers {
        color: $rg-text-color;
        background-color: #fff;
        border: 1px solid #dee2e6;
        padding: 0.375rem 0.75rem;
        margin: 0 10px;
        border-radius: 50px;

        &:hover {
            z-index: 2;
            color: $rg-color-site;
            background-color: white;
            border-color: $rg-color-site;
        }

        &:focus {
            z-index: 3;
            color: $rg-color-site;
            background-color: #e9ecef;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
        }

        &.current {
            z-index: 3;
            color: #fff;
            background-color: $rg-color-site;
            border-color: $rg-color-site;
        }
    }
}

// - Навигация по постом <-- Prev | Next -->
#rg-posts-navigation {
    nav {
        > .nav-links {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 50px;
            @include max_768 {
                gap: 30px;
            }
            @include max_576 {
                gap: 15px;
            }

            .nav-next,
            .nav-previous {
                width: 30%;
                @include max_768 {
                    width: 50%;
                }
            }

            a {
                line-height: 120%;
                display: flex;
                white-space: nowrap !important;
            }
        }
    }

    ul {
        justify-content: space-between !important;

        > div {
            height: max-content;
            max-width: 50%;
            position: relative;

            .meta-nav {
                position: absolute;
                left: -30px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 25px;
                height: 25px;
            }

            &.nav-previous {
                .meta-nav {
                    transform: rotate(180deg);
                }
            }

            &.nav-next {
                .meta-nav {
                    left: auto;
                    right: -30px;
                }
            }
        }
    }
}

// - Кнопки
.btn {
    position: relative;

    @include rg-font-style(
        (
            style: "regular",
            prop: "font-family",
        )
    );
    font-size: var(--rg-fs-small);
    background-color: var(--rg-color-site);
    border: none;
    box-shadow: none;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    padding: 20px 40px;
    transition: all 0.3s ease;
    @include max_992 {
        padding: 15px 30px;
    }

    &:hover {
        color: #fff;
        background-color: #034866;
    }

    &:disabled {
        background: #e8e8e8;
        color: #fff;
    }

    &:first-child:active,
    &:active,
    &:focus {
        color: #fff;
        background-color: #034866;
    }

    &_link {
        background: transparent;
        padding: 10px 0 !important;

        &:hover,
        &:first-child:active,
        &:active,
        &:focus {
            background: transparent;

            .arrow {
                width: 50px;
            }
        }

        .arrow {
            display: block;
            width: 40px;
            height: 2px;
            transition: all 0.3s linear;
            position: relative;
            background: var(--rg-color-site);

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                width: 7px;
                height: 2px;
                transition: all 0.3s linear;
                right: 0;
                background: var(--rg-color-site);
            }

            &:before {
                transform: rotate(45deg);
                top: -3px;
            }

            &:after {
                transform: rotate(-45deg);
                bottom: -3px;
            }
        }
    }

    &_max-content {
        max-width: max-content;
    }

    &_center {
        margin: 0 auto;
        display: flex;
    }
}

// ЕБАЛА ЕБУЧАЯ ОТ БУТСТРАПА
:not(.btn-check) + .btn {
    &:active {
        color: #fff;
        background-color: #034866;
    }

    &_link {
        &:hover,
        &:first-child:active,
        &:active,
        &:focus {
            background: transparent;
        }
    }
}

// - Формы
form {
    .form-floating > .form-control {
        font-size: var(--rg-fs-small);
        padding: 10px 10px 10px 0 !important;
        border-radius: 0;
        border-width: 0 0 1px 0;
        color: $rg-text-color;
        min-height: 50px;
        height: 50px;

        &:not(:placeholder-shown),
        &:focus {
            ~ label {
                color: $rg-text-color;
                background: transparent;
                transform: scale(0.65) translateY(-0.8rem) translateX(0);

                &:after {
                    content: none;
                }
            }
        }

        &:focus {
            color: $rg-text-color;
            box-shadow: none;
        }
    }

    .form-element {
        &.button {
            margin-bottom: 15px;
        }

        width: 100%;
        display: block;
        margin: 0 auto 20px;
    }

    .form-floating > label {
        padding: 10px 10px 10px 0 !important;
        color: $rg-color-site;
    }

    .form-check-label {
        cursor: pointer;
    }

    .form-check-input {
        cursor: pointer;

        &:checked {
            background-color: $rg-color-site;
            border-color: $rg-color-site;
        }

        &:focus {
            box-shadow: none;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    .wpcf7-list-item {
        margin: 0;
    }

    .ajax-loader {
        display: none !important;
    }

    &.search-form {
        input[type="search"] {
            border-radius: 50px 0 0 50px;
        }

        button {
            padding: 0 20px;
            border-radius: 0 50px 50px 0;
        }
    }

    .form-line {
        .item {
            width: 100%;
            max-width: 220px;

            &.b {
                width: auto;
            }
        }
    }
}

// - Аккордеоны
.rg-accordion {
    .accordion-item {
        border: 0;
        border-bottom: 2px solid #f0f0f0;
        padding-bottom: 15px;
        margin-bottom: 15px;
        border-radius: 0;

        .accordion-button {
            cursor: pointer;
            padding-right: 55px;
            padding-left: 0;

            &:after {
                right: 0;
                position: absolute;
                background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%232a2a2a'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 1 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")
                    no-repeat 50% / contain;
                width: 40px;
                height: 40px;
            }

            p {
                @include rg-font-style(
                    (
                        fs: 25,
                        style: "semibold",
                        prop: "font",
                    )
                );
                color: var(--rg-text-color);
            }

            &:not(.collapsed) {
                background-color: #fff;
                box-shadow: none;
            }
        }

        .accordion-body {
            background: #fdfdfd;
            padding-bottom: 5px;
            padding-top: 0;

            > *:last-child:not(.btn) {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }

        &:first-child {
            .accordion-button {
                padding-top: 0;
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// - Табы
.tabs-panel {
    .nav-pills {
        .btn {
            transition: 0.5s;
            border-radius: 50px;

            &:not(.active) {
                background: #e8e8e8;
                color: #62818e;
            }

            &.active,
            &:hover {
                background: #62818e;
                color: #fff;
            }
        }
    }
}

// - Комментарии
#rg-comments {
    max-width: 900px;
    margin: 0 auto 50px;

    li.comment {
        .user {
            .author-img {
                margin-top: 4px;
                width: 30px;
            }

            .author {
                color: $rg-color-site;
            }

            .comment {
                p {
                    display: inline;
                }
            }
        }

        .dots {
            height: 4px;
            width: 4px;
            margin-bottom: 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
        }

        .reply {
            margin-left: 12px;

            small {
                color: #b7b4b4;

                &:hover {
                    color: $rg-color-site;
                    cursor: $rg-cursor-hover;
                }
            }
        }
    }
}

/* Footer */
footer.footer#footer {
    .footer-content {
        padding: 30px 0 66px;
        grid-template-columns: 390px 193px 346px;
        @include max_1400 {
            grid-template-columns: 381px 174px 316px;
        }
        @include max_1200 {
            grid-template-columns: 326px 155px 280px;
        }
        @include max_992 {
            grid-template-columns: 155px 383px;
        }
        @include max_768 {
            grid-template-columns: 155px 283px;
        }
        @include max_576 {
            grid-template-columns: 1fr;
        }

        .logo-text {
            @include max_992 {
                grid-column: 1/3;
                grid-row: 1/2;
                gap: 40px;
            }
            @include max_768 {
                gap: 28px;
            }

            @include max_576 {
                grid-column: 1/3;
                gap: 20px;
            }

            img {
                @include max_1400 {
                    max-width: 177px;
                }
                @include max_1200 {
                    max-width: 158px;
                }
                @include max_768 {
                    max-width: 120px;
                }
            }

            p {
                color: #62818e;
                line-height: $rg-base-font-line-height;
                @include px-to-rem(
                    (
                        fs: 16,
                    )
                );
                @include max_1400 {
                    @include px-to-rem(
                        (
                            fs: 15,
                        )
                    );
                }
                @include max_1200 {
                    @include px-to-rem(
                        (
                            fs: 14,
                        )
                    );
                }
            }
        }

        .copyright {
            grid-column: 1/2;
            grid-row: 2/3;
            @include max_992 {
                grid-column: 1/3;
                grid-row: 3/4;
            }
            @include max_576 {
                grid-column: 1/2;
                grid-row: 4/5;
            }

            p {
                @include px-to-rem(
                    (
                        fs: 16,
                    )
                );
                @include max_1400 {
                    @include px-to-rem(
                        (
                            fs: 15,
                        )
                    );
                }
                @include max_1200 {
                    @include px-to-rem(
                        (
                            fs: 14,
                        )
                    );
                }
            }
        }

        .footer-menu {
            grid-row: 1/3;
            @include max_992 {
                grid-column: 1/2;
                grid-row: 2/3;
            }

            .widget-title {
                margin-bottom: 16px;
                @include max_1400 {
                    margin-bottom: 20px;
                }
            }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 15px;
                @include max_768 {
                    gap: 10px;
                }

                .menu-item {
                    a {
                        line-height: $rg-base-font-line-height;
                        font-size: var(--rg-fs-small);
                        display: block;
                        position: relative;
                        width: max-content;

                        &:hover {
                            &:before {
                                width: 100%;
                            }
                        }

                        &:before {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            height: 1px;
                            background: currentColor;
                            width: 0;
                            transition: all 0.3s linear;
                        }
                    }
                }
            }
        }

        .footer-contacts {
            grid-row: 1/3;

            .widget-title {
                margin-bottom: 10px;
                @include max_1400 {
                    margin-bottom: 20px;
                }
            }

            @include max_992 {
                grid-column: 2/3;
                grid-row: 2/3;
            }
            @include max_576 {
                grid-column: 1/2;
                grid-row: 3/4;
            }

            &-wrapper {
                gap: 15px;
                @include max_768 {
                    gap: 10px;
                }

                p {
                    font-size: var(--rg-fs-small);

                    a {
                        display: block;
                    }
                }
            }
        }

        .widget-title {
            @include rg-font-style(
                (
                    prop: "font-family",
                    style: "regular",
                )
            );
        }
    }
}

/* Дополнительные модули */
@import "modules";
/* Анимация @keyframes */
@keyframes heart {
    from,
    to,
    60% {
        transform: scale(1);
    }
    12%,
    36% {
        transform: scale(1.5);
    }
    24%,
    48% {
        transform: scale(1);
    }
}
