/******************************
* Кастомное PopUp окно
* Обратный звонок
* [WP Plugin] CF7
* [Библиотека] Модальное окно SweetAlert
* [Библиотека] Слайдеры swiper
* Калькулятор опросник
* Блок с кнопками SocialBlock
* Блок whatsapp
* Кнопки на чаты
* Bitrix24 widget
* Определение региона пользователя
* Слайдер акций .RGActionsBanners
* Поиск точки выдачи
* Скрываем телефон на всём сайте и показываем окно с выбором
* Снег на сайт на новый год
******************************/
@use "sass:math";
@import "fragments/variables";
@import "fragments/components_mixin";
@import "fragments/media_mixin";
@import "fragments/fonts_mixin";
/* Кастомное PopUp окно */
.popClick {
    cursor: $rg-cursor-hover;
}

.popup {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.5);
    padding: 0;
    margin: 0;
    overflow: auto;
    top: 0;
    bottom: 0;
    right: 0;
    transition: 0.3s;

    img.loader-popup {
        background: red;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        margin: auto;
        border-radius: 50%;
        box-shadow: 0 0 0 10000px rgb(0 0 0 / 0.5);
    }

    .popup-container {
        overflow: auto;
    }

    .pop {
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        padding: 50px;
        text-align: left;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        transition: all 0.8s ease 0s;
        opacity: 0;
        visibility: hidden;
        transform: translate(0, -100%);
        max-width: 1290px;
        @include max_1400 {
            max-width: 1140px;
        }
        @include max_1200 {
            max-width: 960px;
            padding: 40px;
        }
        @include max_992 {
            max-width: 720px;
            padding: 30px;
        }
        @include max_768 {
            max-width: 540px;
        }
        @include max_576 {
            max-width: 95%;
            padding: 30px 20px;
        }

        .close {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 14px;
            top: 14px;
            transition: 0.5s;
            border-radius: 50px;
            background: white;
            border: 2px solid #d60606;
            opacity: 0.3;
            z-index: 999999;

            &:before {
                content: "";
                width: 20px;
                height: 4px;
                background: #d60606;
                display: block;
                transform: rotate(45deg);
                margin: 11px 0 0 3px;
                border-radius: 5px;
            }

            &:after {
                content: "";
                width: 20px;
                height: 4px;
                background: #d60606;
                display: block;
                margin: -4px 0 0 3px;
                border-radius: 5px;
                transform: rotate(-45deg);
            }

            &:hover {
                cursor: $rg-cursor-hover;
                transform: rotate(360deg);
                transition: 0.5s;
                opacity: 1;
            }
        }

        .items_soglasie {
            @include px-to-rem(
                (
                    fs: 14,
                )
            );
        }

        &.img {
            max-width: 1200px !important;
        }

        &.img,
        &.video {
            padding: 0;
            background: transparent;
            box-shadow: none;
            overflow: hidden;
        }

        &.img .close,
        &.video .close {
            right: -15px;
            top: -15px;
        }

        &.video iframe {
            margin: 0 auto;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    &.popupTypeLead {
        .pop {
            width: 720px;
            padding: 40px;

            .desc {
                max-width: 425px;
            }

            .items_soglasie {
                max-width: 100%;
                margin: 10px 0 0;
            }
        }
    }

    &.active {
        opacity: 1;
        visibility: visible;
        transform: translate(0);

        .pop {
            opacity: 1;
            transform: translate(0);
            visibility: visible;
        }
    }

    &#searchToSite {
        background: rgb(255 255 255);

        .pop {
            background: white;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.9);
        opacity: 1;
    }
}

@keyframes tossing {
    0% {
        transform: rotate(-8deg);
    }
    50% {
        transform: rotate(8deg);
    }
    100% {
        transform: rotate(-8deg);
    }
}

@keyframes circle-anim {
    0% {
        transform: rotate(0deg) scale(0.5) skew(1deg);
        opacity: 0.1;
    }
    30% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.5;
    }
    100% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.1;
    }
}

@keyframes circle-fill-anim {
    0% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        transform: rotate(0deg) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        transform: rotate(0deg) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}

/* [WP Plugin] CF7 */
.wpcf7 {
    .wpcf7-spinner {
        display: none !important;
    }

    .wpcf7-response-output,
    .screen-reader-response {
        display: none !important;
    }

    form.wpcf7-form {
        position: relative;

        .wpcf7-not-valid-tip {
            position: absolute;
            top: -20px;
            @include px-to-rem(
                (
                    fs: 13,
                )
            );
            z-index: 0;
            margin: auto;
            left: 0;
            right: 0;
            color: $rg-color-red;
        }

        .items_soglasie {
            .item_soglasie {
                max-width: 20px;
                margin-right: 10px;
                width: 100%;

                &:nth-child(2) {
                    max-width: 100%;
                    margin: 0;

                    p {
                        text-align: left;
                        line-height: $rg-base-font-line-height;
                        @include px-to-rem(
                            (
                                fs: 16,
                            )
                        );
                        margin: 0;
                        @include max_1400 {
                            @include px-to-rem(
                                (
                                    fs: 14,
                                )
                            );
                        }
                    }
                }

                div {
                    width: 20px;
                    height: 20px;
                    position: relative;
                    cursor: $rg-cursor-hover;
                    border-radius: 50px;
                    background: #f7f7f7;
                    border: 2px solid #9e1724;

                    &:before,
                    &:after {
                        content: "";
                        border-radius: 5px;
                        height: 3px;
                        width: 11px;
                        background: #9e1724;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        top: 0;
                        margin: auto;
                        transform: rotate(45deg);
                    }

                    &:after {
                        transform: rotate(-45deg);
                    }

                    &.active {
                        background: white;
                        border: 2px solid #079e72;

                        &:before,
                        &:after {
                            background: #079e72;
                        }

                        &:before {
                            transform: rotate(-55deg);
                            right: -3px;
                            width: 8px;
                        }

                        &:after {
                            transform: rotate(45deg);
                            left: -4px;
                            top: 5px;
                            width: 6px;
                        }
                    }
                }

                p {
                    color: #363636;
                    font-size: 14px;
                }

                .wpcf7-form-control-wrap {
                    display: none;
                }
            }
        }

        .form-line {
            .items_soglasie {
                max-width: 100%;
                margin: 10px 0 0;

                .item_soglasie:nth-child(2) {
                    max-width: 350px;
                }
            }
        }
    }
}

.bg-dark {
    .item_soglasie:nth-child(2) p,
    .item_soglasie:nth-child(2) p a {
        color: white !important;
    }

    .item_soglasie:nth-child(2) p a {
        text-decoration: underline;
    }
}

/* [Библиотека] Модальное окно SweetAlert */
.swal-overlay {
    background: rgba(0, 0, 0, 0.5);

    .swal-modal {
        .swal-text {
            text-align: center;
        }

        .swal-footer {
            background-color: rgb(245, 248, 250);
            margin-top: 32px;
            border-top: 1px solid #e9eef1;
            overflow: hidden;
        }
    }
}

/* [Библиотека] Слайдеры swiper */
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 40px;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}

.swiper-pagination-bullet-active {
    background: $rg-color-site;
}

.swiper-buttons {
    .swiper-button-prev {
        left: -20px;
        right: auto;
    }

    .swiper-button-next {
        right: -10px;
        left: auto;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
        color: $rg-color-site;
    }
}

/* Определение региона пользователя */
#rgGetUserRegion {
    .offers {
        position: relative;
        display: none;

        &.visible {
            display: block;
        }

        ul {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 99999;

            &:not(.rg-list) {
                top: -19px;
                background: #fff;
                border-radius: 0 0 10px 10px;
            }

            li {
                margin-bottom: 5px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .myform {
        .item {
            flex: 1 1 250px;
        }

        input[name="region"] {
            border-radius: 0.25rem 0 0 0.25rem;
        }

        .setUserRegionInfo {
            border-radius: 0 50px 50px 0;
            padding: 17px 15px;
        }
    }

    .clearInputRegion {
        color: #9e9e9e;
        @include px-to-rem(
            (
                fs: 15,
            )
        );
        cursor: pointer;
    }
}

.address_user {
    position: relative;

    .checkUserRegion {
        width: 155px;
        text-align: center;
        z-index: 1;
        position: absolute;
        top: calc(100% + 8px);
        background: $rg-color-site;
        padding: 10px 15px;

        &:after {
            content: "";
            width: 15px;
            height: 15px;
            top: -8px;
            left: 0;
            right: 0;
            margin: auto;
            position: absolute;
            transform: rotate(45deg);
            background: $rg-color-site;
        }

        p {
            color: white;

            &.item {
                font-family: $rg-font-style-semi-bold;
                font-size: 1rem;
                margin-top: 5px;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }
}

/* Слайдер акций .RGActionsBanners */
.RGActionsBanners {
    background-color: $rg-color-site;

    .swiper-button-next,
    .swiper-button-prev {
        color: #ffffff;
        filter: drop-shadow(0 3px 2px black);
    }
}

/* Поиск точки выдачи */
p.point_go {
    padding: 0;
    margin: 0;

    a[data-pop="point_go"] {
        color: #363636;
        text-align: left;
        border-radius: 5px;
        max-width: 330px;
        border: 1px solid #ededed;
        background: white;
        padding: 17px 13px;
        display: block;
        margin: 0 auto;

        i {
            color: #000;
            @include px-to-rem(
                (
                    fs: 19,
                )
            );
        }
    }
}

// - Скрываем телефон на всём сайте и показываем окно с выбором
.RGphoneSHORT {
    @include px-to-rem(
        (
            fs: 20,
        )
    );
    min-width: 170px;
    position: relative;

    &:before {
        @include rg-font-style(
            (
                style: "regular",
                prop: "font-family",
            )
        );
        content: "8 (800) показать..";
        position: absolute;
        left: 0;
        background: white;
        height: 21px;
        min-width: 170px;
    }
}

#who-calling {
    .pop {
        padding: 60px 83px;
        @include max_768 {
            padding: 40px;
            max-width: 425px !important;
        }

        .RGphoneSHORT {
            &:before {
                content: none;
            }
        }
    }
}

/* Снег на сайт на новый год */
.rg-snowflake {
    z-index: 9999;
    position: absolute;
    top: 0;
    background: white;
    pointer-events: none;
    animation-name: fall;
    animation-timing-function: linear;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

@keyframes fall {
    to {
        transform: translateY(250vh) translateX(10vw);
    }
}
