/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили поста
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-testimonials-swiper;
/* Стили поста */
.post-9756 {
    &.banner {
        h1.title {
            @include px-to-rem(
                (
                    fs: 44,
                )
            );
            @include max_1400 {
                @include px-to-rem(
                    (
                        fs: 40,
                    )
                );
            }
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 35,
                        base: 18,
                    )
                );
            }
            @include max_992 {
                @include px-to-rem(
                    (
                        fs: 44,
                        base: 17,
                    )
                );
            }
            @include max_576 {
                @include px-to-rem(
                    (
                        fs: 36,
                        base: 16,
                    )
                );
            }
        }
    }
}
