/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-testimonials-swiper;
/* Стили страницы */
.post-9772 {
    &.banner {
        h1 {
            @include px-to-rem(
                (
                    fs: 53,
                )
            );
            @include max_1400 {
                @include px-to-rem(
                    (
                        fs: 45,
                    )
                );
            }
            @include max_1200 {
                @include px-to-rem(
                    (
                        fs: 45,
                        base: 18,
                    )
                );
            }
            @include max_576 {
                @include px-to-rem(
                    (
                        fs: 35,
                        base: 16,
                    )
                );
            }
        }
    }
}
