/******************************
* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss
* Стили страницы
******************************/
@import "../fragments/variables";
@import "../fragments/components_mixin";
@import "../fragments/media_mixin";
@import "../fragments/fonts_mixin";
/* Часто повторяющиеся элементы (/components/) - все они находятся в файле _components_mixin.scss */
@include rg-banner;
@include rg-grid-column((1, 2));
/* Стили страницы */
.page-99 {
    &.key-advantages {
        .items {
            grid-template-columns: repeat(2, 349px);
            gap: 50px 70px;
            @include max_1400 {
                grid-template-columns: repeat(2, 300px);
            }
            @include max_1200 {
                grid-template-columns: repeat(2, 270px);
                gap: 40px 50px;
            }
            @include max_992 {
                grid-template-columns: repeat(2, 1fr);
                gap: 50px 60px;
            }
            @include max_768 {
                gap: 30px 20px;
            }
            @include max_576 {
                grid-template-columns: 1fr;
                gap: 30px;
            }
        }
    }

    &.optional {
        .content {
            .wrapper {
                max-width: 690px;
                @include max_1200 {
                    max-width: 540px;
                }
                @include max_992 {
                    max-width: 345px;
                }
                @include max_768 {
                    display: contents;
                }
            }

            .image {
                max-width: 470px;
                @include max_1400 {
                    max-width: 400px;
                }
                @include max_1200 {
                    max-width: 376px;
                }
                @include max_992 {
                    max-width: 331px;
                }
                @include max_576 {
                    max-width: 290px;
                }
            }
        }
    }
}
